/* @NOTE - fonts loaded in _document.tsx */
:root {
  --font-primary: 'PP Supply Sans', 'Helvetica', 'Arial', sans-serif;
  --font-secondary: 'Inter', 'Helvetica', 'Arial', sans-serif;
}

html {
  font-family: var(--font-primary);
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizespeed;
}
