.RoomCard {
  display: flex;
  flex-direction: column;

  .RoomCard__thumbnail-wrapper {
    aspect-ratio: 16 / 10;
    border-radius: 11px;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .RoomCard__content {
    display: grid;
    grid-template-areas:
      'name cta'
      'spots cta';
  }

  .RoomCard__name {
    color: var(--color-mine-shaft);
    font: 700 1.8rem/2.4rem var(--font-primary);
    grid-area: name;
  }

  .RoomCard__spots {
    color: var(--color-flirt);
    font: 400 1.8rem/2.4rem var(--font-primary);
    grid-area: spots;
  }

  .RoomCard__cta {
    grid-area: cta;
    text-align: right;
  }

  .RoomCard__button {
    background: var(--color-flirt);
    border: 0;
    border-radius: 4px;
    color: var(--color-white);
    font: 700 1.2rem/2.4rem var(--font-primary);
    outline: 0;
    padding: 3px 9px 4px;
    text-align: center;
    transition:
      color 0.25s,
      background 0.25s;

    @media (hover: hover) {
      &:hover {
        background: var(--color-dusty-gray);
        color: var(--color-black);
      }
    }

    &:focus-visible {
      background: var(--color-dusty-gray);
      color: var(--color-black);
      outline: 1px solid var(--color-black);
    }
  }
}
