.RoomsList {
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;

  @media (--sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (--lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
